.text {
  margin: 0;
  padding: 0;
}

.text--align-center { vertical-align: center; }
.text--align-start { vertical-align: start; }
.text--align-end { vertical-align: end; }

.text--light { color: #000000; }
.text--dark  { color: #f0ebe3 }

.text--light--inverted {
  color: #fff
}
.text--dark--inverted {
  color: #000000;
}