.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: var(--font-primary);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0px;
  font-size: 1.2rem;
  font-weight: 300;
  border-bottom: 2px solid #000;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;

  &:focus {
    outline-offset: 2px;
    outline-color: #000;
  }
}

.inputError {
  border-color: #e74c3c;
}

.toggleButton {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.errorMessage {
  color: #e74c3c;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
