.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-container {
  padding: 3.75rem 3.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  max-width: 1920px;
  margin: auto;
}

.hero-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hero-splash__text {
  color: #f0ebe3;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1017px) {
  .custom-container {
    padding: 2.5rem 1.875rem 0;
  }
}
