/* src/components/ProductDetail/productDetailSkeleton.scss */

.product-detail-skeleton {
  margin: auto;
  padding: 6rem 2rem;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__image {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__main-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    border-radius: 0.5rem;
  }

  &__thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  &__thumb {
    aspect-ratio: 1 / 1;
    border-radius: 0.25rem;
  }

  &__info {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
  }
}

/* Mobile: apila verticalmente */
@media (max-width: 768px) {
  .product-detail-skeleton {
    padding: 1rem 0;

    &__container {
      flex-direction: column;
      gap: 1.5rem;
    }

    &__info {
      margin: 0;
    }
  }
}
