.product-skeleton {
  display: flex;
  flex-direction: column;
  background-color: #d1d5db;

  &__body {
    margin: 1rem 0 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
