.banner {
  height: 540px;
  width: 100%;
  display: flex;
  position: relative;
  margin-top: -75px;
  background: rgb(157, 157, 157);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.293);
    z-index: 1;
  }
}

.banner--mobile {
  height: 208px;
}

.img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #1a1a1a;
  transition: opacity 0.3s ease-out;
  z-index: 0;
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  pointer-events: none;
}

.title-banner {
  margin: 0;
  padding: 0;
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 4px;
  z-index: 2;
  color: white;
}

.title-banner--mobile {
  font-size: 2rem;
}
